body{
    background-color: #e1e1e1;
    height: 100%;
}

html {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100%;
    width: 100%;
}


.nav-header{
    text-align: center;
    color: white;
    background-color: rgb(9, 180, 109);
    padding: 1em;
}

.nav-header h4 a{
    color: white;
    padding: .15em;
}

.nav-header h4 a:hover{
    background-color: rgb(6, 136, 82);
    border-radius: 20px;
}

.nav-content{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 100%;
}

.nav-buttons{
    width: 20%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
}

.nav-buttons a{
    font-size: 19px;
    font-weight: bold;
    color: #505050;
    text-decoration: none;
    text-align: center;
    margin-top: 1em;
    width: 100%;
    padding: 2em;
    border-color: #CBCBCB;
    border-width: 1px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);
    
}

.nav-buttons a:hover{
    background-color: rgb(9, 180, 109);
    color: white;
}

a.active{
    text-decoration: underline;
    background-color: rgb(9, 180, 109);
    color: white;
  }

.logout-button{
    align-self: center;
    margin-top: 50%;
}

.logout-button a{
    text-decoration: none;  
}

/* Login */

.login-container{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.login-form{
    display: flex;
    justify-content: center;
    width: 40%;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

}

.login-main{
    padding: 2em;
}

.logo-main label{
    font-size: 30px;
}

.login-form h1{
    text-align: center;
    background-color: rgb(9, 180, 109);
    padding: .7em;
    border-top-right-radius:20px;
    border-top-left-radius: 20px;
    color: white;
}

label{
    display:block;
    margin-top: 2em;
    margin-bottom: .6em;
    font-size:20px;
    font-weight: 500;
    }

.sidebar{
    height: 100%;
    width: 100%;
}

.main-content{
    padding: 1em;
    height: 100%;
    width: 100%;
    margin-top: 2.5em;
}

.dash-header{
    text-align: center;
    color: white;
    background-color: rgb(9, 180, 109);
    padding: 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.dash-content{
    background-color: white;
    padding: 1em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 700px;
}

.appointment-title{
    display: flex;
    justify-content: center;
    margin-top: 1.3em;
}

/* Patients */

.patient-header{
    text-align: center;
    color: white;
    background-color: rgb(9, 180, 109);
    padding: 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.patient-filter{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
}

.patient-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 1em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.patient-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.patient-container h2{
    width: 100%;
    text-align: center;
}

.patient-details{
    margin-top: 5%;
    width: 45%;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 1em;
}

.patient-personal-details{
    margin-top: 5%;
    width: 45%;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 1em;
}

.patient-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    margin: 2em;
    margin-bottom: 1em;
}

.patient-buttons a{
    background-color: rgb(9, 180, 109);
    color: white;
    text-decoration: none;
    padding: 2em;
    font-size: x-large;
    border-radius: 20px;
    font-weight: 500;
}

.patient-buttons a:hover{
    background-color: rgb(6, 136, 82);
}

/* Staff */

.staff-header{
    text-align: center;
    color: white;
    background-color: rgb(9, 180, 109);
    padding: 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.staff-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 1em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);  
}

/* User */
.user-personal-details{
    margin-top: 1em;
    width: 45%;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 1em;
    align-self: center;
}

.user-details{
    align-self: center;
    width: 45%;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 1em;
    align-self: center;
}

.user-buttons{
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 2em;
    margin-right: 10%;
}

.user-buttons a{
    background-color: rgb(9, 180, 109);
    color: white;
    text-decoration: none;
    padding: 2em;
    font-size: x-large;
    border-radius: 20px;
    font-weight: 500;
}

.user-buttons a:hover{
    background-color: rgb(6, 136, 82);
}

.user-container{
    display: flex;
    flex-direction: column;
}

.user-container h2{
    text-align: center;
}

/* Form */

.form-done{
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin: 10em;
    height: 30em;
}

.form-done h2{
    background-color: rgb(9, 180, 109);
    margin:0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 4em;
    padding: 1em;
    color: white;
    align-self:auto;

}

.form-done h4{
    margin-bottom: 6em;
}

a.done-button{
    align-self: baseline;
    background-color: rgb(9, 180, 109);
    color: white;
    text-decoration: none;
    padding: 2em;
    font-size: x-large;
    border-radius: 20px;
    font-weight: 500;
}

a.done-button:hover{
    background-color: rgb(6, 136, 82);
}

/* Lists */

.listing{
    display: flex;
    width: 100%;
    justify-content: center;
    max-height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 1em;
}

.list-toolbar{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 80%;
    padding: 1em;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
}

.list-toolbar a{
    margin-left: 1em;
    margin-right: 1em;
    padding: .4em;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.list-toolbar a:hover{
    text-decoration: underline;
    background-color: #cccccc;
    border-radius: 8px;
}

table {
    width: 100%;
    max-width: 800px;
}

th,
td {
    padding: 10px 4px;
    text-align: left;
}

th {
    text-transform: uppercase;
    border-bottom: 4px solid #000;
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #ccc;
}

a.go{
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    color: black;
    border-color: #505050;
    padding: 5px;    
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

a.go:hover{
    background-color: rgb(9, 180, 109);
    color: white;
}

a.update{
    text-decoration: none;
    color: green;
}

a.update:hover{
    text-decoration: underline;
}

a.delete{
    text-decoration: none;
    color: red;
}

a.delete:hover{
    text-decoration: underline;
}

/* Search */

.search-page{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* padding:2em; */
    justify-content: center;
    background-color: white;
}

.search-form{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 10%;
}

.search-form input{
    margin: .5em;
    width: 20em;
}

.results{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 2em;
    margin: 1.5em;
    border-style: solid;
    border-width: 1px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll; 
    background-color: rgb(243, 243, 243);
}

.results h3{
    background-color: rgb(9, 180, 109);
    padding: .25em;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.results h3, .results p{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
}

.results p{
    margin-bottom: .6em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
}

.results a{
    display: flex;
    padding: .5em;
    justify-content: center;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.results a:hover{
    width: 100%;
    background-color: rgb(226, 226, 226);
}


